@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.form-control{
  margin: 10px;
 
}

.form-control input {
  width: 200%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 10px;
  position: relative;
  right: 130px;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 103, 141);
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.product {
  background: rgb(241, 239, 239);
  margin: 5px;
  padding: 10px 20px;
  width: 800px;
  height:150px;
  font-family: 'Fredoka',sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;

  }

.products {
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  object-fit: cover;
  width:120px;
  height: 120px;
  cursor: pointer;
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}

.userLogin {
  border: 1px;
  border-radius: 5px;
  height: 500px;
  width: 200px;
}

